<div class="post-card d-flex align-items-start gap-8 my-12 pb-8">
    <div>
        <img class="card-avatar" src="/assets/images/avatar.svg" alt="avatar.svg" />
    </div>
    <div>
        <div>
            <span class="card-name">name <a class="card-username text-gray" href="#">@username</a></span>
        </div>
        <div class="my-8">
            <p class="card-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi beatae non, tempore laudantium tenetur nobis? Quas nostrum beatae in cum id, sed enim rem minus saepe eius nihil voluptas temporibus!
            </p>
        </div>
        <div class="card-actions">
            <mat-icon>favorite</mat-icon>
            <mat-icon>chat_bubble</mat-icon>
        </div>
    </div>
</div>