/* display classes */
$display: inline, block, inline-block, grid, flex;

@each $val in $display {
  .d-#{$val} {
    display: $val;
  }
}

/* align items classes */
$align-items: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "baseline": baseline,
  "stretch": stretch,
);

@each $key, $val in $align-items {
  .align-items-#{$key} {
    align-items: $val;
  }
}

/* justify content classes */
$justify-content: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
);

@each $key, $val in $justify-content {
  .justify-content-#{$key} {
    justify-content: $val;
  }
}
